In [11]:
import os
from pathlib import Path
import pandas as pd

MAIN_DIR = os.path.abspath('.')

In [13]:
df = pd.read_csv(os.path.join(MAIN_DIR, 'data/practicedata/', 'dataset1.csv'))

In [14]:
df

,corporation,lastmonth_activity,lastyear_activity,number_of_employees,exited
0,nciw,100,1359,1,0
1,lsid,68,282,14,0
2,pwls,71,949,40,1
3,bqlx,686,3782,103,0
4,zmei,45,655,7,0
5,wosl,0,18,21,1
6,xcvb,189,961,18,1
7,dfgh,16,1028,33,0
8,ngrd,9,45,1,1
9,xful,0,67,14,1
10,kshe,48,986,22,1
11,qqqq,52,650,11,1
12,corp,1090,2452,9,0
13,ekci,6,88,90,1
14,dosk,99,390,99,1
15,endi,75,800,81,1
16,gudj,255,1687,2,0

In [17]:
directories=['/data/practicedata/','/data/sourcedata/','/data/testdata/']
df_list = pd.DataFrame(columns=['corporation', 'lastmonth_activity', 'lastyear_activity', 'number_of_employees', 'exited'])

for directory in directories:
    filenames = os.listdir(os.getcwd()+directory)

    for each_filename in filenames:
        df1 = pd.read_csv(os.getcwd()+directory+each_filename)
        df_list=df_list.append(df1)
        
result=df_list.drop_duplicates()
result.to_csv('result.csv', index=False)